---
name: Cuarto Datos CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:

  build-and-push-image:
    name: Build Docker Image
    runs-on: self-hosted
    if: github.ref == 'refs/heads/main'
    permissions:
      packages: write
      contents: read

    steps:
    - name: Clonar el repositorio
      uses: actions/checkout@v4

    - name: Construir imagen docker 
      run: |
           docker build -t ${{ secrets.IMAGE_NAME }}:latest .




        



  


        
    



  
